<div class="main">
    <div class="main__block-separator">
        <div class="main__category">
            <div class="main__title">Перспективные захоронения</div>
            <div class="main__icon main__icon--center"><input type="image" name="edit" src="images/icon-edit.svg"/>
            </div>
        </div>
    </div>
    <div class="main__block-separator">
        <div class="main__category">
            <div class="main__subtitle">ОБЩАЯ ИНФОРМАЦИЯ</div>
            <div class="main__icon"><input type="image" name="edit" src="images/icon-edit.svg"/></div>
        </div>
        <table class="table mt-1">
            <tr>
                <th class="table__header">Полное название:</th>
                <td class="table__data-cell">ООО Фирма “Перспективные захоронения”</td>
            </tr>
            <tr>
                <th class="table__header">Договор:</th>
                <td class="table__data-cell">2345 от 12.03.2015, расторгнут 20.05.2017</td>
            </tr>
            <tr>
                <th class="table__header">Форма:</th>
                <td class="table__data-cell">ООО</td>
            </tr>
            <tr>
                <th class="table__header">Тип:</th>
                <td class="table__data-cell">Агент, Подрядчик</td>
            </tr>
        </table>
    </div>
    <div class="main__block-separator">
        <div class="main__category">
            <div class="main__subtitle">КОНТАКТНЫЕ ДАННЫЕ</div>
            <div class="main__icon"><input type="image" name="edit" src="images/icon-edit.svg"/></div>
        </div>
        <table class="table mt-1">
            <tr>
                <th class="table__header">ФИО:</th>
                <td class="table__data-cell">Григорьев Сергей Петрович</td>
            </tr>
            <tr>
                <th class="table__header">Телефон:</th>
                <td class="table__data-cell">+7 (916) 216-55-88</td>
            </tr>
            <tr>
                <th class="table__header">Эл. почта:</th>
                <td class="table__data-cell table__link">grigoriev@funeral.com</td>
            </tr>
        </table>
    </div>
    <div class="main__block-separator">
        <div class="main__category">
            <div class="main__subtitle">АДРЕСА И ТЕЛЕФОНЫ</div>
            <div class="div main__icon"><input type="image" name="edit" src="images/icon-edit.svg"/></div>
        </div>
        <table class="table mt-1">
            <tr>
                <th class="table__header">Юр. адрес:</th>
                <td class="table__data-cell">105173, г. Балашиха, ул. Молодежная, д. 12А корп. 2, офис 312</td>
            </tr>
            <tr>
                <th class="table__header">Юр. телефон:</th>
                <td class="table__data-cell">+7 (495) 345-55-88</td>
            </tr>
            <tr>
                <th class="table__header">Фактич. адрес:</th>
                <td class="table__data-cell">105173, г. Балашиха, ул. Молодежная, д. 12А корп. 2, офис 312</td>
            </tr>
            <tr>
                <th class="table__header">Телефон:</th>
                <td class="table__data-cell">+7 (916) 216-55-88</td>
            </tr>
        </table>
    </div>
    <div class="main__block-separator">
        <div class="main__category">
            <div class="main__subtitle">РЕКВИЗИТЫ ОРГАНИЗАЦИИ</div>
            <div class="main__icon"><input type="image" name="edit" src="images/icon-edit.svg"/></div>
        </div>
        <table class="table mt-1">
            <tr>
                <th class="table__header">БИК:</th>
                <td class="table__data-cell">044525225</td>
            </tr>
            <tr>
                <th class="table__header">Банк:</th>
                <td class="table__data-cell">ПАО СБЕРБАНК</td>
            </tr>
            <tr>
                <th class="table__header">Р/С:</th>
                <td class="table__data-cell">4070 2810 0000 9000 1425</td>
            </tr>
            <tr>
                <th class="table__header">К/С:</th>
                <td class="table__data-cell">3010 1810 5403 0000 0795 БИК 044 030 795</td>
            </tr>
            <tr>
                <th class="table__header">ИНН:</th>
                <td class="table__data-cell">1001254535</td>
            </tr>
            <tr>
                <th class="table__header">КПП:</th>
                <td class="table__data-cell">773101001</td>
            </tr>
            <tr>
                <th class="table__header">ОГРН:</th>
                <td class="table__data-cell">1053600591197</td>
            </tr>
            <tr>
                <th class="table__header">Ген. директор:</th>
                <td class="table__data-cell">Степаненко Игорь Яковлевич</td>
            </tr>
        </table>
    </div>
    <div class="main__block-separator">
        <div class="main__category mb-2">
            <div class="main__subtitle">ПРИЛОЖЕННЫЕ ФАЙЛЫ</div>
            <div class="main__icon"><input type="image" name="edit" src="images/icon-edit.svg"/></div>
        </div>
        <div class="main__category mb-1">
            <div class="main__icon"><input type="image" name="delete-file" src="images/icon-attachment.svg"/></div>
            <div class="main__file">Договор ЗН 1234-4567.pdf
                <div class="main__description">Файл PDF, 1.2 МБ</div>
            </div>
            <div class="main__icon"><input type="image" name="delete-file" src="images/icon-cancel.svg"/></div>
        </div>
        <div class="main__category mb-1">
            <div class="main__icon"><input type="image" name="delete-file" src="images/icon-attachment-photo.svg"/>
            </div>
            <div class="main__file main__file--uncertain">Фотографии счета на оплату
                <div class="main__description">Файл PDF, 1.2 МБ</div>
            </div>
            <div class="main__icon"><input type="image" name="delete-file" src="images/icon-cancel.svg"/></div>
        </div>
        <div class="main__category">
            <div class="main__icon"><input type="image" name="delete-file" src="images/icon-attachment-photo.svg"/>
            </div>
            <div class="main__file main__file--uncertain">Документы за декабрь.zip
                <div class="main__description">Файл PDF, 1.2 МБ</div>
            </div>
            <div class="main__icon"><input type="image" name="delete-file" src="images/icon-cancel.svg"/></div>
        </div>
        <div class="main__button">
            <svg>(width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg")</svg>
            <rect/>
            x="3" y="9.5" width="14" height="2" fill="white"/>
            <rect x="11" y="3.5" width="14" height="2" transform="rotate(90 11 3.5)" fill="white"/>
            <input class="button" type="submit" name="add" value="ДОБАВИТЬ ФАЙЛ"/></div>
    </div>
</div>